
.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }


img{
    width: 100%;
}

.card-content{
    padding: 3.2rem 1.2rem;
}

.card-heading{
    margin-bottom: 3.2rem;
}

.super-hit{
    background-color: rgb(5, 88, 61);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.avarage{
    background-color: rgb(245, 226, 58);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}